.mat-card-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f2f5;
    padding: 20px 18px 10px 18px;
}

mat-card {
    margin: 0px 2px 10px 2px;
}

mat-card-header {
    margin-bottom: 20px;
}

.education-title {
    color: rgba(5, 65, 123, 1);
    font-size: 30px;
}

.education-non-title {
    font-size: 16px;
    margin-bottom: 10px;
}
