<div class="mat-card-container">
  <mat-card *ngFor="let education of educations">
    <mat-card-header>
      <mat-card-title class="education-title">{{
        education.title
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li class="education-non-title">
          <strong> Institution:</strong> {{ education.institution }}
        </li>
        <li class="education-non-title">
          <strong> Area:</strong> {{ education.area }}
        </li>
        <li class="education-non-title">
          <strong> Passing Year:</strong> {{ education.passingYear }}
        </li>
        <li class="education-non-title">
          <strong> Result:</strong> {{ education.result }}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
