.about-me-container {
    display: flex;
    justify-content: space-evenly;
    padding: 24px;
    
    mat-card {
        margin: 5px;
        box-shadow: 0px 5px 10px rgb(154 160 185 / 5%), 0px 15px 40px rgb(166 173 201 / 20%);
        background-color: #FFFFFF;

        mat-card-header {
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            background-color: rgb(232, 110, 68);
            border-radius: 4px;

            mat-card-title {
                font-size: 20px;
                color: #ffffff;
                margin: 0px;
                padding: 8px;
                font-weight: 700px;
            }
        }
    }
}

.profile-picture {
    margin: 0px !important;
    border-radius: 50%;
    width: 200px;
}

.profiles {
    margin: 0px;
    width: 120px;
    height: 120px;
    border: 1px solid darkslategray;
    border-radius: 5px !important;
    margin-right: 15px;
}

.introduction-wrapper{
    width: 50%;
}

.introduction {
    margin: 0px;
    font-size: 16px;
    line-height: 1.56;
    text-align: justify;
    white-space: normal;
}

li {
    font-size: 16px;
    line-height: 1.56;
}
