<div class="mat-card-container" fxLayout="row wrap">

    <mat-card fxFlex="calc(90%)">
        <mat-card-content>
            <div fxLayout="row wrap">

                <img class="profile-picture" fxFlex="calc(20%)" fxFlex.lt-md="0 0 calc(100%)" mat-card-image
                    src="assets/image/Profile Picture/Zaedul-Islam.jpg">

                <p fxFlex="calc(80% - 40px)" fxFlex.lt-md="0 0 calc(100%)" class="introduction">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="calc(90%)" fxFlex.lt-md="0 0 calc(100% - 10px)">
        <mat-card-header>
            <mat-card-title>Professional Profiles</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <img class="profiles" mat-card-image src="assets/image/Professional Profiles/linkedin.jpg">
            <img class="profiles" mat-card-image src="assets/image/Professional Profiles/github.jpg">
            <img class="profiles" mat-card-image src="assets/image/Professional Profiles/kaggle.jpg">
            <img class="profiles" mat-card-image src="assets/image/Professional Profiles/stackoverflow.jpg">
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="calc(90%)" fxFlex.lt-md="0 0 calc(100% - 10px)">
        <mat-card-header>
            <mat-card-title>Programming Contest Profiles</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <img class="profiles" mat-card-image src="assets/image/Programming Contest Profiles/codeforces.jpg">
            <img class="profiles" mat-card-image src="assets/image/Programming Contest Profiles/uva.jpg">
            <img class="profiles" mat-card-image src="assets/image/Programming Contest Profiles/leetcode.jpg">
            <img class="profiles" mat-card-image src="assets/image/Programming Contest Profiles/lightoj.jpg">
            <img class="profiles" mat-card-image src="assets/image/Programming Contest Profiles/hackerrank.jpg">
            <img class="profiles" mat-card-image src="assets/image/Programming Contest Profiles/codechef.jpg">
            <img class="profiles" mat-card-image src="assets/image/Programming Contest Profiles/spoj.jpg">
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="calc(50% - 10px)" fxFlex.lt-md="0 0 calc(100% - 10px)">
        <mat-card-header>
            <mat-card-title>Test Scores</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <ul>
                <li><strong>IELTS:</strong> 7.5 (Listening 8.5, Reading 7.5, Writing 6.0, Speaking 7.5)</li>
            </ul>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="calc(50% - 10px)" fxFlex.lt-md="0 0 calc(100% - 10px)">
        <mat-card-header>
            <mat-card-title>Interests</mat-card-title>
        </mat-card-header>

        <mat-card-content>

        </mat-card-content>
    </mat-card>
</div>