<div class="mat-card-container" fxLayout="row wrap">

    <mat-card>
        <mat-card-header>
            <mat-card-title>Professional Experience</mat-card-title>
            <mat-card-subtitle>{{experience[0].designation}} at {{experience[0].company.name}} </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <ul *ngFor="let responsibility of experience[0].responsibilities">
                <li>{{responsibility}}</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>