mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 5000;
    font-size: 14px;
    background-color: white;
}

mat-toolbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 100%;

    .toolbar-title {
        display: flex;
        justify-content: center;
        width: 40%;

        .name-text {
            font-size: 26px;
            font-family: "Open Sans";
            font-weight: 700px;
            margin-right: 20px;
        }
    }

    .toolbar-items {
        display: flex;
        justify-content: center;
        width: 60%;

        .toolbar-item {
            font-family: "Open Sans";
            padding: 0px 14px;
        }
    }
}
