/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Caveat&family=Kaushan+Script&family=Rancho&family=Yellowtail&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
  } 

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0;  background-color: white}